#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
  padding: 1rem 0;
}

p {
  font-size: 1.2rem;
  padding: 1rem 0;
}

label {
  font-size: 1.5rem;
}

input {
  padding: 0.522rem 1rem;
  margin-left: 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: darkblue;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.521rem 1rem;
  background-color: #555;
  color: #ddd;
  text-decoration: none;
  border-radius: 5px;
}

.singleData {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/*responsive*/

@media (max-width: 640px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
